// bower:scss
// endbower

@import 'reset';

// Write your code below:

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
h1 {
  margin-top: 2%;
  font-size: 40px;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
h2 {
  margin-top: 2%;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
h3 {
  margin-top: 5%;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
p {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;

}

img {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}